<% provide(:title, "About") %>

<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) =%> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <div class="container pb-5 mb-5">
      <h1 class="mb-5"><%= t("about.title") %></h1>
      <div class="row">
        <div class="col-md-2 text-center">
          <%= image_tag("nguyen.jpg", style: "height: 167px" ) %>
          <h3 class="my-3">Arahimu</h3>
        </div>
        <div class="col-md-2 text-center">
          <%= image_tag("toan.jpg", style: "height: 167px"  ) %>
          <h3 class="my-3">Shinichi</h3>
        </div>
        <div class="col-md-2 text-center">
          <%= image_tag("cong.jpg", style: "height: 167px" ) %>
          <h3 class="my-3">Lagger</h3>
        </div>
        <div class="col-md-2 text-center">
          <%= image_tag("ducanh.jpg", style: "height: 167px" ) %>
          <h3 class="my-3">Thanh Bia</h3>
        </div>
        <div class="col-md-2 text-center">
          <%= image_tag("quanh.jpg", style: "height: 167px" ) %>
          <h3 class="my-3">Ava chó</h3>
        </div>
        <div class="col-md-2 text-center">
          <%= image_tag("haianh.jpg", style: "height: 167px" ) %>
          <h3 class="my-3">Haiphong Real</h3>
        </div>
      </div>
    </div>
  <%= render 'layouts/footer' %>
  </body>
</html>
